@import "tailwindcss";

@theme {
    --color-background: oklch(0.151 0.021 195.165 / 0.7);
    --color-chrome: oklch(23.23% 0.015730608631365894 274.097682519827);
    --color-muted: oklch(0.37 0.007 248.005);
    --color-accent: oklch(0.686 0.168 150.722);
    --color-accent-muted: oklch(0.447 0.06 149.044);

    --color-text: oklch(0.917 0.004 236.501);
    --color-highlight: oklch(1 0 0);
}

html, body {
    overscroll-behavior: none;
}

*[data-tauri-drag-region] {
    app-region: drag;
}